div, body
{
	font-family: sans-serif;
}

.ReportBody
{
	width: 95%;
    padding-left: 20px;
}

.ReportCompanyName
{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.ReportTitle
{
	font-size: 48px;
	font-weight: bold;
	text-align: center;
}

.ReportSubTitle
{
	font-size: 24px;
	text-align: center;
}

.ReportPrepared
{
	margin-bottom: 60px;
	text-align: center;
}

.Minus
{
    color: red;
}

.ReportHeader2
{
    font-size:18px;
    font-weight:bold;
    margin-top:20px;
}

.ReportLineTitle2
{
	font-size: 18px;
	display: inline-block;
	width: 75%;
}

.ReportLineAmount2
{
	font-size: 18px;
	display: inline-block;
	text-align: right;
	width: 20%;
}

.ReportFooterTitle2
{
	font-size: 18px;
	display: inline-block;
	width: 75%;
}

.ReportFooterAmount2
{
	font-size: 18px;
	display: inline-block;
	text-align: right;
	width: 20%;
	border-top-style: solid;
	border-top-color: black;
	border-top-width: 1px;
}

.ReportTable
{
	border: 1px solid black;
	border-collapse: collapse;
}

.ReportTableHeaderRow
{

}

.ReportTableHeaderTitle, .ReportTableHeaderAmount, .ReportTableDataTitle, .ReportTableDataAmount {
	border: 1px solid black;
	font-size: 16px;
	padding-left: 4px;
	padding-right: 4px;
}

.ReportTableHeaderTitle {
	text-align: left;
}

.ReportTableHeaderAmount {
	text-align: right;
}

.ReportTableDataRow
{

}

.ReportTableDataTitle {
}

.ReportTableDataAmount {
	text-align: right;
}

