div, body
{
	font-family: sans-serif;
}

.ReportBody
{
	width: 800px;
    padding-left: 20px;
}

.ReportTitle
{
	font-size: 48px;
	font-weight: bold;
	text-align: center;
}

.ReportSubTitle
{
	font-size: 24px;
	text-align: center;
}

.ReportPrepared
{
	margin-bottom: 20px;
	text-align: center;
}

.Minus
{
    color: red;
}

.ReportHeader2
{
    font-size:18px;
    font-weight:bold;
}

.ReportLineTitle2
{
	display: inline-block;
	width: 75%;
}

.ReportLineAmount2
{
	display: inline-block;
	text-align: right;
	width: 20%;
}
