<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <appSettings>
      <add key="DataPath" value="c:\sc\vs2012\Checkbook.Data"/>  
    </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
