<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Willowsoft.CheckBook.Lib" version="2.13.0" targetFramework="net472" />
  <package id="Willowsoft.CheckBook.PluginCore" version="1.7.0" targetFramework="net472" />
  <package id="Willowsoft.TamperProofData" version="1.2.0" targetFramework="net472" />
</packages>